

/*
list-style-type: форма-вид маркеров
list-style-type: none;    УБРАТ МАРКЕР
*/
table, td, th {
   
    border: 2px solid black;
    padding: 5px;
    
}
table {
   
    border-collapse: collapse;
}
.sum{
    color: red;
}
.laptop-table {
border-radius: 2px;
}
th{
    background-color: rgb(215, 215, 215);
}