* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 body{
    background-color: lightgray;
 }
 section{
     border-radius: 30px;
     margin: 50px auto ;
     height: 450px;
     width: 450px;
     background-color: #ffffff;
     box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px,
      rgba(0, 0, 0, 0.07) 0px 2px 4px,
       rgba(0, 0, 0, 0.07) 0px 4px 8px,
        rgba(0, 0, 0, 0.07) 0px 8px 16px,
         rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
     padding: 50px 0;/* 0 отвечает за отступ справа и с лева*/
 }
 .wrapper{
    padding: 0 50px ;
     width: auto;
     margin: 0 ; /* ПО ЦЕНТРУ*/
 }
 h3{
    font-family: Arial, Helvetica, sans-serif;
     font-weight: 500;
     font-size: 32px; 
     text-align: left;
     margin-bottom: 20px;
 }
 p{
    margin-top: 20px;
     color: #727272;
     text-align: left;
     margin-bottom: 25px;
 }
 .form-control{
  margin: auto;
  display: inline-block;
  vertical-align: top;
 }
 .input{
    border-color: none;
    margin: 2px 0;
    border-radius:10px ;
    padding: 10px;
    width: 100%;
    height: 40px;
   
 }
 
.input:focus {
    border: 7px solid rgb(255, 239, 17);
}
.input:focus {
    border: 7px solid rgb(255, 239, 17);
}
.btn1{
    border: none;
    margin: 2px 0;
    border-radius:20px ;
    padding: 10px;
    width: 100%;
    height: 40px;
    background-color: rgb(255, 225, 0);
}
.btn1:hover{
    background-color: orange;
}
.btn2{
    border: 2px solid lightgray;
    margin: 2px 0;
    border-radius:20px ;
    padding: 10px;
    width: 100%;
    height: 40px;
    background-color: rgb(242, 242, 242);
}
.btn2:hover{
    background-color: gainsboro;
}
